.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .signUpContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .signUpContainer {
    width: 30%;
  }
}

.firstLastNameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .firstLastNameContainer {
    flex-direction: row;
    gap: 1em;
  }
}

.logInPrompt {
  margin-top: 1em;
  text-align: center;
}

.logInText {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logInPrompt {
    display: flex;
    flex-direction: column;
  }
}

.oAuthContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.oAuthBreak {
  color: #aaa;
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.oAuthBreak::before {
  content: "";
  display: flex;
  border-bottom: 1px solid #aaa;
  height: 0px;
  width: 100%;
  margin-left: 1em;
  margin-right: 0.5em;
}

.oAuthBreak::after {
  content: "";
  border-bottom: 1px solid #aaa;
  height: 0px;
  width: 100%;
  margin-right: 1em;
  margin-left: 0.5em;
}

.oAuthProviderContainer {
  display: flex;
  width: 100%;
  gap: 1em;
}

.oAuthProvider {
  display: grid;
  place-items: center;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.5em;
  flex-grow: 1;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.oAuthProvider:hover {
  box-shadow: 0px 0px 3px #aaa;
}

.oAuthProvider img {
  height: 1.5em;
  width: 1.5em;
}
