.alert {
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.6em;
  text-align: left;
}

.alert img {
  height: 1.5em;
  width: 1.8em;
  margin: 0 0.5em;
}

.error {
  background-color: #ffeeee;
  color: #d8181b;
}

.success {
  background-color: #e6f4ea;
  color: #1e7e34;
}
