.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signInPrompt {
  margin-top: 2em;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (min-width: 768px) {
  .forgotPasswordContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .forgotPasswordContainer {
    width: 30%;
  }
}
